/* Nosto overrides */

@import url(http://fonts.googleapis.com/css?family=Montserrat);

#content.bootstrap .nostotagging .panel {
    padding: 0;
    font-family: inherit;
}

#content.bootstrap .nostotagging .panel-heading {
    margin: 0;
    font-size: .8rem;
    line-height: 1.8rem;
    height: 3.0em;
    padding: 5px;
}

.tw-bs .nostotagging {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tw-bs .nostotagging label {
    padding: 0;
    margin: 0;
    width: auto;
    text-align: left;
    float: none;
}

.tw-bs .nostotagging h2 {
    color: #555;
}

.tw-bs .nostotagging iframe {
    width: 100%;
    min-height: 1000px;
}

.tw-bs .nostotagging .form-control,
.tw-bs .nostotagging input[type="text"],
.tw-bs .nostotagging select {
    font-size: 1rem;
    height: 3.25rem;
    display: block;
    width: 100%;
    padding: 4px 8px;
    line-height: 1.42857;
    color: #555;
    background: #fff none;
    border: 1px solid #ccc;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}

.tw-bs .nostotagging .panel-default > .panel-heading {
    background-color: #fff;
    font-size: 1.0em;
    line-height: 2.0em;
    height: 3.2em;
    padding: 5px;
    color: #555;
    white-space: nowrap;
    text-transform: uppercase;
}

.tw-bs .nostotagging .panel-heading select {
    font-size: .8rem;
    display: inline-block;
    height: auto;
    width: auto;
}

.tw-bs .nostotagging .panel-heading label {
    text-align: left;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.tw-bs .nostotagging .panel-heading a {
    color: #666;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.tw-bs .nostotagging .panel-body {
    padding: 0;
}

.tw-bs .nostotagging .panes {
    margin-bottom: 20px;
    color: #555;
}

.tw-bs .nostotagging .btn.btn-blue {
    color: white;
    background-color: #429BD1;
    border-color: #3795ce;
    width: 100%;
    padding: 1em 0;
    border-radius: 6px;
}

.tw-bs .nostotagging .btn.btn-red {
    color: white;
    background-color: rgb(217, 83, 79);
    border-color: rgb(217, 83, 79);
}

.tw-bs .nostotagging .terms-block {
    color: white;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.tw-bs .center {
    text-align: center;
    margin: 0 auto;
}

.tw-bs .right-block {
    background: #364156 url("https://my.nosto.com/public/platform/img/install-bg.png") no-repeat top left;
    background-size: cover;
    color: #fff;
    height: 580px;
}

.content-block {
    padding: 4em 2em;
    margin: 0 auto;
    text-align: center;
    width: 100%;

}

@media (min-width: 768px) {
    .content-block {
        padding: 4em 4em;
        width: 500px;
    }
}

.content-header {
    padding-top: 20px;
    color: #333 !important;
}

.content-subheader {
    color: #666;
    font-size: 14px;
    font-style: italic;
}

.content-text {
    color: #9097a3;
    font-size: 1.2em;
}

.login-block {
    padding: 2em 2em;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}

.form-control-02 {
    font-size: 1rem;
    height: 3.25rem;
    padding-left: 1rem;
    background-color: #fff;
    font-family: inherit;
    border: 1px solid #cccccc;
}

.img-logo {
    width: 180px;
}

.btn-link {
    padding: 0 !important;

}

.link-wrap {
    margin-top: 2em;
}
