[submodule "backward_compatibility"]
	path = backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility.git
[submodule "libs/nosto/php-sdk"]
	path = libs/nosto/php-sdk
	url = https://github.com/Nosto/php-sdk.git
