# Codeception Test Suite Configuration

# suite for acceptance tests.
# perform tests in browser using the WebDriver or PhpBrowser.
# If you need both WebDriver and PHPBrowser tests - create a separate suite.

class_name: AcceptanceTester
modules:
    enabled:
        - PhpBrowser
        - AcceptanceHelper

env:
    PS16:
         modules:
            config:
              PhpBrowser:
                  url: 'http://localhost:9000/1.6.0.9/'
              AcceptanceHelper:
                  prestashop: 1.6.0.9

    PS15:
         modules:
            config:
              PhpBrowser:
                  url: 'http://localhost:9000/1.5.6.2/'
              AcceptanceHelper:
                  prestashop: 1.5.6.2

    PS14:
         modules:
            config:
              PhpBrowser:
                  url: 'http://localhost:9000/1.4.11.0/'
              AcceptanceHelper:
                  prestashop: 1.4.11.0
