# Codeception Test Suite Configuration

# suite for unit (internal) tests.
class_name: UnitTester
modules:
    enabled: [Asserts, UnitHelper]

env:
    PS16:
         modules:
            config:
              UnitHelper:
                  psVersion: 1.6.0.9
                  psDir: '/var/www/html/prestashop/1.6.0.9/'
                  apiBaseUrl: 'http://localhost:9000/api'
                  oauthBaseUrl: 'http://localhost:9000/oauth'

    PS15:
         modules:
            config:
              UnitHelper:
                  psVersion: 1.5.6.2
                  psDir: '/var/www/html/prestashop/1.5.6.2/'
                  apiBaseUrl: 'http://localhost:9000/api'
                  oauthBaseUrl: 'http://localhost:9000/oauth'

    PS14:
         modules:
              UnitHelper:
                  psVersion: 1.4.11.0
                  psDir: '/var/www/html/prestashop/1.4.11.0/'
                  apiBaseUrl: 'http://localhost:9000/api'
                  oauthBaseUrl: 'http://localhost:9000/oauth'
