/* Nosto overrides */

#content.bootstrap .nostotagging .panel {
    padding: 0;
    font-family: inherit;
}

#content.bootstrap .nostotagging .panel-heading {
    margin: 0;
    font-size: 1.2em;
    line-height: 2.2em;
    height: 3.2em;
    padding: 5px;
    text-transform: none;
    font-family: inherit;
}

.tw-bs .nostotagging label {
    padding: 0;
    margin: 0;
    width: auto;
    text-align: left;
    float: none;
}

.tw-bs .nostotagging h2 {
    color: #555;
}

.tw-bs .nostotagging .panel-default > .panel-heading {
    background-color: #fff;
    font-size: 1.2em;
    line-height: 2.2em;
    height: 3.2em;
    padding: 5px;
    color: #555;
    white-space: nowrap;
}

.tw-bs .nostotagging .help-block {
    font-style: italic;
}

.tw-bs .nostotagging .form-control,
.tw-bs .nostotagging input[type="text"],
.tw-bs .nostotagging input[type="search"],
.tw-bs .nostotagging input[type="password"],
.tw-bs .nostotagging textarea,
.tw-bs .nostotagging select {
    display: block;
    width: 100%;
    height: 27px;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 1.42857;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}

.nostotagging .panel-heading label {
    text-align: left;
    font-weight: normal;
}

.nostotagging .panes {
    margin-bottom: 20px;
}

#nostotagging_language {
    display: inline-block;
}

#nostotagging_account_setup {
    color: #666;
}

#nostotagging_account_email {
    margin: auto;
    width: 250px;
}

.nostotagging .btn.btn-green {
    color: white;
    background-color: rgb(121, 189, 60);
    border-color: rgb(121, 189, 60);
}

.nostotagging .btn.btn-red {
    color: white;
    background-color: rgb(217, 83, 79);
    border-color: rgb(217, 83, 79);
}

.nostotagging iframe {
    width: 100%;
    height: 1250px;
}

.nostotagging .switch-container {
    width: 160px;
    margin: auto;
}

/* switch control */
.tw-bs .switch {
    display: block;
    height: 26px;
    position: relative;
}

.tw-bs .switch * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tw-bs .switch input {
    position: absolute;
    opacity: 0;
}

.tw-bs .switch label {
    position: relative;
    z-index: 2;
    width: 50%;
    height: 100%;
    margin: 0;
    text-align: center;
    float: left;
}

.tw-bs .switch label, .bootstrap .switch>span {
    line-height: 26px;
    vertical-align: middle;
}

.tw-bs .switch input:last-of-type:checked ~ a {
    border: solid 1px rgb(217, 83, 79);
    background-color: rgb(217, 83, 79);
    left: 50%;
    -webkit-box-shadow: rgb(217, 83, 79) 0 -1px 0 inset;
    box-shadow: rgb(217, 83, 79) 0 -1px 0 inset;
}

.tw-bs .switch a {
    position: absolute;
    top: 0;
    padding: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    color: #fff;
    border: solid 1px rgb(121, 189, 60);;
    background-color: rgb(121, 189, 60);;
    left: 0;
    -webkit-box-shadow: rgb(121, 189, 60) 0 -1px 0 inset;
    box-shadow: rgb(121, 189, 60) 0 -1px 0 inset;
}

.tw-bs .switch a {
    display: block;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.tw-bs .prestashop-switch {
    background-color: #eee;
    border-radius: 3px;
    color: #333;
    text-align: center;
    -webkit-box-shadow: rgba(0,0,0,0.15) 0 1px 4px 1px inset;
    box-shadow: rgba(0,0,0,0.15) 0 1px 4px 1px inset;
}

.tw-bs .prestashop-switch * {
    outline: 0 !important;
}

.tw-bs .prestashop-switch label {
    text-transform: uppercase;
    color: #bbb;
    font-weight: 400;
    cursor: pointer;
    -webkit-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.tw-bs .prestashop-switch input:checked+label {
    color: #fff;
}
