/* Nosto overrides */

#content.bootstrap .nostotagging .panel {
    padding: 0 !important;
    font-family: inherit;
}

#content.bootstrap .nostotagging .panel-install {
    margin-bottom: 42px;
}
#content.bootstrap .nostotagging .panel-heading {
    margin: 0;
    font-size: .8rem;
    line-height: 1.8rem;
    height: 3.0em;
    padding: 5px;
}

#content.bootstrap .nostotagging .col-xs-1, #content.bootstrap .nostotagging .col-sm-1,
#content.bootstrap .nostotagging .col-md-1, #content.bootstrap .nostotagging .col-lg-1,
#content.bootstrap .nostotagging .col-xs-2, #content.bootstrap .nostotagging .col-sm-2,
#content.bootstrap .nostotagging .col-md-2, #content.bootstrap .nostotagging .col-lg-2,
#content.bootstrap .nostotagging .col-xs-3, #content.bootstrap .nostotagging .col-sm-3,
#content.bootstrap .nostotagging .col-md-3, #content.bootstrap .nostotagging .col-lg-3,
#content.bootstrap .nostotagging .col-xs-4, #content.bootstrap .nostotagging .col-sm-4,
#content.bootstrap .nostotagging .col-md-4, #content.bootstrap .nostotagging .col-lg-4,
#content.bootstrap .nostotagging .col-xs-5, #content.bootstrap .nostotagging .col-sm-5,
#content.bootstrap .nostotagging .col-md-5, #content.bootstrap .nostotagging .col-lg-5,
#content.bootstrap .nostotagging .col-xs-6, #content.bootstrap .nostotagging .col-sm-6,
#content.bootstrap .nostotagging .col-md-6, #content.bootstrap .nostotagging .col-lg-6,
#content.bootstrap .nostotagging .col-xs-7, #content.bootstrap .nostotagging .col-sm-7,
#content.bootstrap .nostotagging .col-md-7, #content.bootstrap .nostotagging .col-lg-7,
#content.bootstrap .nostotagging .col-xs-8, #content.bootstrap .nostotagging .col-sm-8,
#content.bootstrap .nostotagging .col-md-8, #content.bootstrap .nostotagging .col-lg-8,
#content.bootstrap .nostotagging .col-xs-9, #content.bootstrap .nostotagging .col-sm-9,
#content.bootstrap .nostotagging .col-md-9, #content.bootstrap .nostotagging .col-lg-9,
#content.bootstrap .nostotagging .col-xs-10, #content.bootstrap .nostotagging .col-sm-10,
#content.bootstrap .nostotagging .col-md-10, #content.bootstrap .nostotagging .col-lg-10,
#content.bootstrap .nostotagging .col-xs-11, #content.bootstrap .nostotagging .col-sm-11,
#content.bootstrap .nostotagging .col-md-11, #content.bootstrap .nostotagging .col-lg-11,
#content.bootstrap .nostotagging .col-xs-12, #content.bootstrap .nostotagging .col-sm-12,
#content.bootstrap .nostotagging .col-md-12, #content.bootstrap .nostotagging .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

#content.bootstrap .nostotagging .content-panel .panel {
    border-color: #fff;
}

.tw-bs .nostotagging {
    font-weight: 400;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tw-bs .nostotagging label {
    padding: 0;
    width: auto;
    text-align: left;
    float: none;
}

.tw-bs .nostotagging h2,
.tw-bs .nostotagging h6 {
    font-weight: 700;
}

.tw-bs .nostotagging h2 {
    color: #2e3b51;
}

.tw-bs .nostotagging iframe {
    width: 100%;
    min-height: 1000px;
}

.tw-bs .nostotagging .form-control,
.tw-bs .nostotagging input[type="text"],
.tw-bs .nostotagging select {
    display: block;
    width: 100%;
    padding: 4px 8px;
    line-height: 1.42857;
    color: #2e3b51;
    background: #fff none;
    border: 1px solid #ccc;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}

.tw-bs .nostotagging input[type="text"] {
    font-size: 1rem;
    height: 3.25rem;
}

.tw-bs .nostotagging .panel-default > .panel-heading {
    background-color: #fff;
    font-size: 1.0em;
    line-height: 2.0em;
    height: 3.2em;
    padding: 5px;
    color: #2e3b51;
    white-space: nowrap;
    text-transform: uppercase;
}

.tw-bs .nostotagging .panel-heading select {
    font-size: .8rem;
    display: inline-block;
    height: auto;
    width: auto;
}

.tw-bs .nostotagging .panel-heading label {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    color: #2e3b51;
}

.tw-bs .nostotagging .panel-heading a {
    color: #2e3b51;
    font-weight: 400;
}

.tw-bs .nostotagging .panel-body:before,
.tw-bs .nostotagging .panel-body:after {
    content: " ";
    display: table;
}

.tw-bs .nostotagging .panel-body:after {
    clear: both;
}

.tw-bs .nostotagging .panel-body.nosto-view-iframe,
.tw-bs .nostotagging .panel-body.nosto-view-install {
    padding: 0;
}

.tw-bs .nostotagging .panel-footer {
    height: 78px;
    margin: auto;
}

.tw-bs .nostotagging .panel.panel-install {
    margin-bottom: 42px;
}

.tw-bs .nostotagging .panel.panel-install .panel-body {
    padding: 2em 2em;
}

.tw-bs .nostotagging .panes {
    margin-bottom: 20px;
    color: #2e3b51;
}

.tw-bs .nostotagging .login-block .panes {
    margin-bottom: 0;
}

.tw-bs .nostotagging .btn.btn-blue {
    color: white;
    background-color: #429BD1;
    border-color: #3795ce;
    width: 100%;
    padding: 1em 0;
    border-radius: 6px;
    font-weight: 700;
}

.tw-bs .nostotagging .btn.btn-red {
    color: white;
    background-color: rgb(217, 83, 79);
    border-color: rgb(217, 83, 79);
    font-weight: 700;
}

.tw-bs .nostotagging .terms-block {
    color: white;
    width: 75%;
    margin: 0 auto;
}

.tw-bs .nostotagging ul.currency_preview {
    padding: 0;
    list-style-type: none;
}

.tw-bs .center {
    text-align: center;
    margin: 0 auto;
}

.tw-bs .right-block {
    background: #364156 url("https://my.nosto.com/public/platform/img/install-bg.png") no-repeat top left;
    background-size: cover;
    color: #fff;
    height: 800px;
}

.tw-bs .content-block {
    padding: 4rem 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 52.5rem;
}

.tw-bs .content-panel {
    margin: 0 auto;
}

.tw-bs .content-panel .panel {
    border-color: #fff;
}

@media (min-width: 768px) {
    .tw-bs .content-panel {
        width: 66.6666666667%;
    }
    .tw-bs.ps-14 .content-panel {
        width: 80%;
    }
}

.tw-bs .content-header {
    padding-top: 20px;
}

.tw-bs .content-subheader {
    color: #333;
    font-size: 14px;
    font-style: italic;
}

.tw-bs .content-text {
    color: #9097a3;
    font-size: 1.2em;
}

.tw-bs .login-block {
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}

.tw-bs .img-logo {
    width: 180px;
}

.tw-bs .btn-link {
    padding: 0;
}

.tw-bs .link-wrap {
    margin-top: 2em;
    color: #333;
}

.tw-bs.ps-14 .row {
    background: none;
}
